@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-primary text-secondary antialiased;
}

::selection {
  background: theme("colors.accent");
  color: theme("colors.primary");
}

.container-site {
  @apply mx-auto w-full max-w-6xl px-6;
}
